* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100dvh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px; /* added padding to ensure card doesnt touch the edges on small screens */

    background-color: hsl(212, 45%, 89%) ;
    font-family: "Outfit", sans-serif;

}

.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* removed auto widths and heights */
    max-width: 20rem;

    background-color: white;
    border-radius: 20px;
    padding: 12px;
/* removed figure selector */

img { 
    display: block; /* added display property */
    /* removed figure parent selector and add clamp width function */
    width: clamp(150px, 18vw, 240px); 
    max-width: 100%; /* added width constraint */
    border-radius: 20px;
    object-fit: cover;
    margin-block-end: 10px;
}
}

.txt {
    line-height: 1.2;
    text-align: center;
    font-size: clamp(1rem, 1.7vw, 1.2rem);
    width: clamp(150px, 18vw, 240px);
}

.txt1 {
    font-weight: 700;
    margin-block-end: 10px;
}

.txt2 {
    /* removed declared font-weight (400) */
    color: rgba(0, 0, 0, 0.634);
    margin-block-end: 25px;
}